.keyboard {
   max-width: 100vh;
   display: flex;
   flex-wrap: wrap;
   background: lightblue;
}

.card {
    font-size: 200px;
    padding: 30px;
    border: solid black 2px;
    display: inline;
    background: white;
}

