.keyboard {
   min-width: 100vh;
   display: flex;
   flex-wrap: wrap;
   background: lightblue;
}

.key {
    font-size: 70px;
    padding: 30px;
    border: solid black 2px;
    display: inline;
    background: white;
}

