 body {
   background: #87d8f3;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
               'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
   margin: 10%;  
}

.keyboard {
   background: white;
   display: flex;
   flex-direction: row;
  justify-content: space-around;
   height: 80vh;

}
/*
.key, input[type=submit] {
   border: solid black 2px;
   height: 80vh;
   width: 20vh;
}

input[type=submit] {
   font-size: larger;
   font-weight: bolder;
   background: rgb(173, 6, 179);
}

.key-text {
   font-size: x-large;
   font-weight: bolder;
   color: lightblue;
   border: solid lightblue 2px;
   padding: 10px 10px 10px 10px;
   margin: 570px 100px 0px 20px;
} */