/* *{   } */

 body {
   background: #87d8f3;
   height: 80vh;
   margin: 6vh 3vh;  
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
               'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.keyboard {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   height: 80vh;

}

.key {
   height: 80vh;
   width: 20vh;
   border:solid black
}

input[type=submit] {
   height: 80vh;
   width: 20vh;
   font-size: 2.66vh;
   font-weight: bolder;
   background: rgb(173, 6, 179);
   color: lightblue;

}

.key-text {
   text-align: center;
   font-size:2.66vh;
   font-weight: bolder;
   color: lightblue;
   border: solid lightblue .4vh;
   margin: 1vh 1vh;
   padding: 3vh;
   position: absolute;
   top: 74%;

} 